.main-header {
  background-image: url('../assets/Star_Wars_Logo.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

@media screen and (max-width: 395px) {
  .main-header {
    background-size: 325px;
    height: 165px;
  }
}