@import '../variable.scss';

.card {
  background-color: white;
  margin: 20px;
  width: 250px;
}

.card:hover {
  cursor: pointer;
}

.card header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.people header {
  background-color: $peopleColor;
}

.planets header {
  background-color: $planetsColor;
}

.vehicles header {
  background-color: $vehiclesColor;
}

.card-title {
  display: inline-block;
  margin: 0;
  text-align: center;
}

.card-details {
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.card li {
  text-align: center;
  list-style-type: none;
  margin: 15px;
}

.cat-icon {
  font-size: 24px;
}

img {
  height: 26px;
}