@import '../variable.scss';

.control-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.control-buttons button {
  background-color: $starWarsTextColor;
  border: none;
  color: #000000;
  font-size: 18px;
  margin: 5px;
  padding: 10px 20px;
}

.control-buttons button:hover {
  background-color: $starWarsTextHover;
  cursor: pointer;
}

.control-buttons button:focus {
  outline:0;
}

.people-button.active {
  background-color: $peopleColor;
}

.people-button.active:hover {
  background-color: $peopleHoverColor;
}

.planets-button.active {
  background-color: $planetsColor;
}

.planets-button.active:hover {
  background-color: $planetsHoverColor;
}

.vehicles-button.active {
  background-color: $vehiclesColor;
}

.vehicles-button.active:hover {
  background-color: $vehiclesHoverColor;
}

.icon {
  margin-right: 10px;
}

.control-buttons .fav-button {
  background-color: $favoritesColor;
  padding-right: 3px;
}

.control-buttons .fav-button:hover {
  background-color: $favoritesHover;
}

.fav-num {
  background-color: $favoritesAccent;
  color: white;
  margin-left: 10px;
  padding: 7px 10px;
}

@media screen and (max-width:650px) {
  .control-buttons button {
    margin: 2px;
    padding: 10px;
  }

  .icon {
    display: none;
  }
}
