@import '../variable.scss';

.control-buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 600px;
}

.control-buttons button {
  background-color: $starWarsTextColor;
  border: none;
  color: #000000;
  font-size: 18px;
  padding: 10px 20px;
}

.control-buttons button:hover {
  background-color: $starWarsTextHover;
  cursor: pointer;
}

.control-buttons button:focus {
  outline:0;
}

.people-button.active {
  background-color: $peopleColor;
}

.planets-button.active {
  background-color: $planetsColor;
}

.vehicles-button.active {
  background-color: $vehiclesColor;
}

.icon {
  margin-right: 10px;
}

.control-buttons .fav-button {
  background-color: $favoritesColor;
  padding-right: 3px;
}

.control-buttons .fav-button:hover {
  background-color: $favoritesHover;
}

.fav-num {
  background-color: $favoritesAccent;
  color: white;
  margin-left: 10px;
  padding: 7px 10px;
}
