@import '../variable.scss';

.scrolltext-big-container {
  animation: addHeight 16s linear;
  color: $starWarsTextColor;
  display: flex;
  height: 0px;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  perspective: 400px;
  overflow: hidden;
  width: 600px;
}

.scrolltext-small-container {
  animation: crawl 120s linear;
  transform-origin: 50% 100%;
  position: relative;
  top: -10000000000px;
}

.fade {
  background-image: linear-gradient(0deg, transparent, black 75%);
  height: 120px;
  position: absolute;
  top: -25px;
  width: 100%;
  z-index: 1;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    min-height: 0px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

@keyframes addHeight {
  0% {
    height: 200px;
  }
  100% {
    height: 200px;
  }
}

.scroll-h3,
.scroll-h4 {
  font-size: 40px;
  text-align: center;
}

.scroll-h4 {
  font-size: 24px;
}

.scroll-p {
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
}

.release-date {
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .scrolltext-big-container {
    animation: addHeight 26s linear;
    width: 300px;
  }
}