body {
  background-color: #BFBFBF;
  background: linear-gradient(black, black, #9F9F9F);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.app-header {
  background-color: #000000;
  padding-bottom: 20px;
}
