$starWarsTextColor: #FFE919;
$starWarsTextHover: #FFF16F;

$peopleColor: #56C3E0;
$planetsColor: #7EE056;
$vehiclesColor: #EF4926;

$favoritesColor: #d861c9;
$favoritesHover: #DD75D0;
$favoritesAccent: #6f2967;