$starWarsTextColor: #FFE919;
$starWarsTextHover: #FFF16F;

$peopleColor: #56C3E0;
$planetsColor: #7EE056;
$vehiclesColor: #EF4926;

$peopleHoverColor: #80D2E8;
$planetsHoverColor: #9EE880;
$vehiclesHoverColor: #F16041; 

$favoritesColor: #d861c9;
$favoritesHover: #DD75D0;
$favoritesAccent: #6f2967;